/*
  * Name: Dong Y
  * Version: 1.0
  * Author: Thanh Mai
*/

@import url("bootstrap.css");
@import url("font-awesome.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url("../fonts/fontawesome-webfont.eot");
@import url("../fonts/fontawesome-webfont.svg");
@import url("../fonts/fontawesome-webfont.ttf");
@import url("../fonts/fontawesome-webfont.woff");
@import url("../fonts/fontawesome-webfont.woff2");
@import url("../fonts/fontAwesome.otf");
@import url("../fonts/MYRIADPRO-REGULAR.OTF");
@import url("../fonts/UTM Avo.ttf");
@import url("../fonts/UTM AvoBold.ttf");
@import url("../fonts/UTM AvoBold_Italic.ttf");
@import url("../fonts/UTM AvoItalic.ttf");

/*
    * Repeatable Patterns
    * Scroll bar
    * Grid
    * Header
    * -- Logo
    * -- Menu
    * -- Menu Mobile
    * -- Search
    * Slider
    * Main Content
    * -- Footer
    * -- Scroll Bar
    * Single Post
    * -- Post Meta Container
    * ---- Meta Share
    * ---- Author Post
    * ---- Comment Area
    * ------ Comment Respond
    * Search Page
    * -- Header
    * ---- Widget Search
    * -- Footer
    * ---- Item
    * Author Page
    * Archive Page
    * Contact Page
    * -- Maps
    * -- Contact Form
    * Preloader
    * Media Queries 
*/

/* Repeatable Patterns
-------------------------------------------------------------- */
@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('/fonts/MYRIADPRO-REGULAR.eot');
    src: url('/fonts/MYRIADPRO-REGULAR.woff') format('woff'), 
    url('/fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), 
    url('/fonts/MYRIADPRO-REGULAR.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

body {
    font: 16px/26px Arial,Helvetica,sans-serif;
    background-image: url("../img/index_bt.png");
    color: #333333;
    margin: 0;
    padding: 0;
    position: relative;
}

::-moz-selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

::-webkit-selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

::selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

a,
a:focus {
    font-family: Arial,Helvetica,sans-serif;
    color: #212121;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
  
}

strong, b {
    font-weight: 700;
}

.margint1 { margin-top: 10px; }
.margint2 { margin-top: 20px; }
.margint3 { margin-top: 30px; }
.margint4 { margin-top: 40px; }
.margint5 { margin-top: 50px; }
.margint6 { margin-top: 60px; }
.marginb1 { margin-bottom: 10px; }
.marginb2 { margin-bottom: 20px; }
.marginb3 { margin-bottom: 30px; }
.marginb4 { margin-bottom: 40px; }
.marginb5 { margin-bottom: 50px; }
.marginb6 { margin-bottom: 60px; }

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 { font: 48px/52px 'Open Sans', sans-serif;}
h2 { font: 38px/42px 'Open Sans', sans-serif;}
h3 { font: 24px/36px 'Open Sans', sans-serif;}
h4 { font: 20px/30px 'Open Sans', sans-serif;}
h5 { font: 15px/25px 'Open Sans', sans-serif;}
h6 { font: 13px/23px 'Open Sans', sans-serif;}

input[type="checkbox"] { display: inline; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #ccc;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    color: #212121;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.colores-animation {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.colores-animation.animated {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* bootstrap resetting elements */
.btn {
    background-image: none;
}
.download {
    image
}
textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
           -o-box-shadow: none;
            box-shadow: none;
}

/* Style */
/** Top Header **/
.top-header {
    background-color: #996600;
}

/*** Top Left ***/
.top-left {
    float: left;
}

.top-left span {
    position: relative;
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    color: #fff;
}

.top-left span:first-child {
    padding-left: 0;
}

.top-left span:last-child:before {
    background-color: transparent;
}

.top-left span:before {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    height: 15px;
    width: 2px;
    background-color: #166ca3;
}

.top-left span i {
    margin-right: 10px;
}

/*** Top Right ***/
.top-right {
    float: right;
}

.top-right ul {
    list-style-type: none;
}

.top-right ul li {
    float: left;
    color: #fff;
    margin: 0 10px;
}

/** Menu Header **/
/*** Menu ***/
.menus {
    float: left;
    list-style-type: none;
    margin-bottom: -10px;
    
}

.logo {
    margin: 5px 0;
}

.menus li {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 16px;
    margin-top: 20px;
}

.menus li a {
    font-size: 16px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #603913;
}

.menus li.active:before {
    position: absolute;
    content: '';
    bottom: -36px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #0172ab;
}

.menus li.active a,
.menus li:hover a {
    color: #0172ab;
}

.menu {
    margin-top: 20px;
}

.search {
    float: right;
    margin-top: 20px;
}

#map iframe {
    width: 100%;
}

/** Content **/
/*** Feeling ***/
h3.text {
    position: relative;
    font-size: 22px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
    margin-bottom: 30px;
}

h3.text:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #603913;
}

.feeling .sidebar {
    margin-left: -15px;
    margin-right: 30px;
}

.feeling .video {
    margin-right: -15px;
}

.feeling .youtube div:first-child {
    padding-left: 0;
}

.feeling .hotline {
    clear: both;
    background-color: #f8e1b2;
    font-size: 30px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
    text-align: center;
    padding: 17px 0;
}

/*** Sidebar ***/

.sidebar .danh-muc {
    font-size: 22px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    border: 1px solid #603913;
    padding-left: 0;
    background-color: #f8e1b2;
}

.sidebar ul li {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
}

.sidebar ul li .icon {
    position: absolute;
    content: '';
    top: 10px;
    right: 30px;
    background-image: url(../img/icon_menu.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.sidebar ul li:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #603913;
}

.sidebar ul li:last-child:before {
    height: 0px;
}

.sidebar ul li:first-child {
    padding: 5px 0;
    margin-top: 0;
    background-color: #996600;
}

.sidebar ul li a {
    font-size: 18px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 400;
    color: #603913;
    text-align: left;
}

/*** Booking ***/

.booking-online {
    background-color: #f8e1b2;
}

.booking-online .text {
    background-color: #fff;
    font-size: 30px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
    text-align: center;
    padding: 17px 0;
    border-radius: 10px;
    margin: 20px 0;
    width: 48%;
    float: left;
}

.booking-online .text:last-child {
    float: right;
}

/*** Product ***/
.products .product-item .title {
    clear: both;
    font-size: 16px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products .sidebar {
    margin-left: -15px;
    margin-right: 30px;
}

.products .product-list {
    margin-right: -15px;
}

.product-list .product-item div {
    padding: 0;
    text-align: right;
}

/*** Images ***/
.images {
    margin-bottom: 50px;
}

.images .images-content .content {
    border: 1px solid #603913;
    text-align: center;
}

.images .images-content .col-md-4:first-child {
    padding-left: 0;
}

.images .images-content .col-md-4:last-child {
    padding-right: 0;
}

.images .images-content .content .img {
    margin-top: 20px;
}

.images .images-content .content .short-des {
    padding: 10px 35px;
}

.images .images-content .col-md-4 .short-des span{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 20px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 500;
    color: #603913;
    text-align: center;
}

/*** News ***/

.news-first .col-md-5 {
    padding-left: 0;
}

.news-first .col-md-5 {
    padding-right: 0;
}

.news-first h3 {
    font-size: 30px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 700;
    color: #603913;
    margin-top: -10px;
}

.news-first .description,
.news-child ul li {
    font-size: 17px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    color: #603913;
    font-weight: 400;
    margin-bottom: 45px;
}

.news-child ul {
    list-style: none;
    padding-left: 0;
    margin-top: 35px;
}

.news-child ul li i {
    margin-right: 5px;
}

.news-child .col-md-5 {
    text-align: center;
    font-size: 22px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
}

.news-child .col-md-5 h3 {
    color: #603913;
    font-style: italic;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.news-child .col-md-5 .chucvu {
    color: #603913;
    font-style: italic;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
}

.news-child .col-md-5 .name {
    color: #603913;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.news-child .avatar {
    width: 60%;
    margin-left: 100px;
    border: 1px solid #603913;
}

/* Footer */
.top-footer {
    background-color: #f8e1b2;
}

.bottom-footer {
    background-color: #996600;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}
    
.top-footer .infomation {
    display: inline-block;
}

.top-footer .infomation {
    margin-bottom: 50px;
}

.top-footer .infomation p {
    margin-bottom: 0;
}

.top-footer .logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.top-footer h3 {
    margin-top: 50px;
    color: #603913;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.fa-quote-left {
    margin-right: 10px;
}

.quotes {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 75px;
    -webkit-box-orient: vertical;
}

.time {
    font-style: italic;
}

.person-feeling {
    position: relative;
}

.person-feeling:last-child:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #603913;
}

.person-feeling:first-of-type {
    padding-bottom: 20px;
}

.person-feeling:last-child {
    padding-top: 20px;
}

.person-feeling .time {
    margin-top: 20px;
}

.note {
    margin-bottom: 45px;
}

.footer-socials ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.footer-socials ul li {
    float: left;
    color: #fff;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 15px;
    text-align: center;
}

.footer-socials ul li i {
    font-size: 20px;
    vertical-align: -webkit-baseline-middle;
}
/* Product-list */
.product-list,
.messages {
    margin-bottom: 20px;
}

.product-name {
    margin-top: 30px;
    color: #603913;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    position: relative;
}

.product-name:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #603913;
}

.product-list .title {
    text-align: center;
    margin-top: 10px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.product-list .item {
    margin-bottom: 10px;
}

/* Message Page */
.messages li a {
    font-size: 20px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
}

.messages li {
    margin-bottom: 20px;
}

.messages li .content-message {
    border: 2px solid #603913;
    box-sizing: border-box;
    display: block;
}

.messages li .content-message h4 {
    font-size: 20px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
}
    
.messages li .content-message h4 i {
    margin-right: 10px;
    margin-left: 10px;
}

.messages li .content-message p {
    padding-right: 10px;
    padding-left: 10px;
}
    

/* Contact Page */

.infos {
    margin-bottom: 20px;
}

.infos .item span:first-child {
    font-size: 16px;
    font-family: 'MYRIADPRO-REGULAR', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #603913;
}

.contact #map {
    margin-bottom: 20px;
}